<html>
  <head>
    <title>collab window</title>
    <link rel="stylesheet"  href="../js/components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="view-collabwin">
      <div class="view-collabwin-input">
        <p>To start a new collaboration session just leave the room id blank.
        Otherwise enter a room id to joint an existing collaboration session
        (current images will be removed from the viewer). Finally click the Go!
        button to start!</p>
        <label>Room id</label>
        <input type="text">
        <button type="button">Go!</button>
      </div>
    </div>
  </body>
</html>
