<html>
  <head>
    <title>library window</title>
    <link rel="stylesheet"  href="../js/components/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="view-librarywin library">
      <input placeholder="Search Me" class="view-librarywin-input" type="text" />
      <div class="section">
        <div class="title"> Days 0-14 </div>
        <div class="notes"> some comments maybe? </div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
      </div>
      <div class="section">
        <div class="title" > Quarter 0 </div>
        <div class="notes"> some comments maybe? </div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
        <div class="thumbnail" style="background-image: url(http://www.googledrive.com/host/0B8u7h0aKnydhd0xHX2h0NENsbEE/w0to1.nii.jpg); height: 100px; width: 100px; border: 1px solid black;">test</div>
      </div>
    </div>
  </body>
</html>
