/*================================================= RENDERER DIV ================================================== */
div.view-renders{
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  border: 1px solid #DDE8BB;
  background-color: black;
  font-family: 'Droid Sans', sans-serif;
}

/*================================================= single renderer ================================================== */
.view-render{
  border: 1px solid #DDE8BB;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  background-color: black;
}

/*================================================= patient info in renderer ================================================== */
.view-render-info{
  position: absolute;
  z-index: 9999;
  color: #DDE8BB;
  font-size: 11px;
  background-color: black;
}
.view-render-info-topleft{
  top: 2px;
  left: 10px;
}
.view-render-info-topright{
  top: 2px;
  right: 10px;
  text-align:right;
}
.view-render-info-bottomright{
  bottom: 2px;
  right: 10px;
  text-align:right;
}
.view-render-info-bottomleft{
  bottom: 2px;
  left: 10px;
}

/*================================================= TOOL BAR ================================================== */
div.view-toolbar{
  position: absolute;
  top: 5px;
  right: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 30px;
  width: 100%;
  text-align:center;
  background-color: black;
}

label.view-toolbar-label{
  position: absolute;
  right: 10px;
  height: 100%;
  color: #E4AD00;
}

/*================================================= tool bar button ================================================== */
.view-toolbar-button{
  cursor: pointer;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 150px;
  background-color: #DDE8BB;
  color: black;
  font-size: small;
}

/*================================================= THUMBNAIL BAR ================================================== */
div.view-thumbnailbar{
  position: absolute;
  top: 5px;
  left: 5px;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  width: 115px;
  overflow: auto;
  background-color: black;
}

/*thumbnail image frames (divs) within the thumbnail bar*/
.view-thumbnail{
    border-style: solid;
    border-width: 1px;
    width: 96px;
    margin-bottom: 2px;
}
.view-thumbnail:hover{
  border: 1px solid #D9E2D4;
}

/*image within a thumbnail frame*/
.view-thumbnail-img{
    display: block;
    height: 96px;
    width: 96px;
}

/*text info within a thumbnail frame*/
.view-thumbnail-info{
  font-size: 11px;
  text-align:center;
  background-color: black;
  color: #DDE8BB;
}
